{
    "backend/**/*.go": [
        "bash -c 'pnpm backend-check'"
    ],
    "infrastructure/terraform/environments/shared/*.tf": [
        "bash -c 'pnpm shared-tf-check'"
    ],
    "infrastructure/terraform/environments/development/*.tf": [
        "bash -c 'pnpm development-tf-check'"
    ]
}